/* Global styles */
*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-color: #f5f5f5;
    padding: 100px 0px;
}
.width-container{
    width: 80%;
    margin: 0px auto;
}
.display-flex{
    display: flex;
}



/* Header section part design */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}
.brand-identity{
    align-items: center;
    gap: 10px;
}
.brand-name h1{
    font-size: 1.8rem;
}
.menu-item{
    list-style: none;
    margin: 0px 20px;
}
.menu-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}
#home-page{
    color: #FEA301;
}
#about-page{
    color: #01ACFD;
}
#facilities-page{
    color: #05D4DF;
}
#admission-page{
    color: #5D58EF;
}

.contact-btn{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #FEA301;
    border: none;
}
.mobile-menu-icon{
    display: none;
}
.mobile-icon{
    font-size: 2rem;
}

/* Header part responsive design  */
@media (max-width:576px) {
    .display-none{
        display: none;
    }
    .mobile-menu-icon{
        display: flex;
    }
    
    .main-header{
        width: 100%;
        padding: 0px 20px;
        border-bottom: 2px solid #FEA301;
    }
}


/* Banner Section part design  */
.banner-cotainer{
    justify-content: space-between;
    align-items: center;
}
.banner-left{
    flex-direction: column;
    gap: 20px;
}
.title-text{
    font-size: 3rem;
}
.subtitle-text{
    font-size: 1.2rem;
}
.enroll-btn{
    color: white;
    background-color: #111111;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
}
.hero-kids-image{
    width: 100%;
}

/* Banner Section part responsive design  */
@media screen and (max-width: 576px) {
    .banner-cotainer{
        flex-direction: column-reverse;
    }
    .title-text{
        font-size: 2rem;
        text-align: center;
    }
    .subtitle-text{
        text-align: center;
    }
    .banner-btn{
        text-align: center;
    }
    
}


/* Curriculam Section Part Design  */
.curriculam-heading h1{
    font-size: 2.5rem;
    text-align: center;
    padding: 30px 0px;
}
.curriculam-card{
    gap: 20px;
}
.curriculam-card-item{
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 10px;
    text-align: center;
    padding: 20px;
}
.curriculam-card-btn button{
    border: none;
    background-color: transparent;
}
.blue-btn{
    color: #64C8FF;
}
.orange-btn{
    color: #F0AA00;
}
.purple-btn{
    color: #8700FF;
}
.linear-bg-one{
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
}
.linear-bg-two{
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
}
.linear-bg-three{
    background-image: linear-gradient(#EEE1FF, #FFFFFF);
}
.curriculam-slide{
    width: 100%;
    gap: 10px;
    margin: 60px auto;
    justify-content: center;
}
.arrow-one, .arrow-two{
    background-color: #F0AA00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #FFFFFF;
    position: relative;
}
.curriculam-slide i{
    position: absolute;
    top: 37%;
    left: 40%;
}

/* Curriculam Section Part Responsive Design */
@media screen and (max-width: 576px) {
    .curriculam-card{
        flex-direction: column;
    }
    .curriculam-slide{
        display: none;
    }
}